$color-brand1-1: #FFF900;

$color-brand1-6: #0055FF;

$color-brand1-9: #334D80;

$color-data1-1: #FFF900;

$color-data1-2: #FFF900;

$color-data1-3: #FFF900;

$color-data1-4: #FFF900;

$color-data1-5: #FFF900;

$color-data1-6: #FFF900;

$color-data1-7: #FFF900;

$color-data1-8: #FFF900;

$color-white: #FFFFFF;

$color-black: #000000;

$color-transparent: transparent;

$color-success-1: #D8FFF2;

$color-success-2: #14CC8F;

$color-success-3: #00B377;

$color-success-4: #009966;

$color-notice-1: #E6EEFF;

$color-notice-2: #0055FF;

$color-notice-3: #0048D9;

$color-notice-4: #003CB3;

$color-warning-1: #FFDECC;

$color-warning-2: #FF6914;

$color-warning-3: #FA5A00;

$color-warning-4: #E65300;

$color-error-1: #FFE6EA;

$color-error-2: #FF274B;

$color-error-3: #E6173A;

$color-error-4: #CC1433;

$color-help-1: #E6EEFF;

$color-help-2: #0055FF;

$color-help-3: #0048D9;

$color-help-4: #003CB3;

$color-link-1: #0055FF;

$color-link-2: #003CB3;

$color-link-3: #0048D9;

$color-other-1: #FFF900;

$color-other-2: #FFF900;

$color-other-3: #FFF900;

$color-line1-1: #F2F4F9;

$color-line1-2: #DADEE6;

$color-line1-3: #CFD3D9;

$color-line1-4: #878D9A;

$color-fill1-1: #FFFFFF;

$color-fill1-2: #F2F4F9;

$color-fill1-3: #EBEDF2;

$color-fill1-4: #E5E9F2;

$color-text1-1: #CCCCCC;

$color-text1-2: #999999;

$color-text1-3: #666666;

$color-text1-4: #333333;

$color-text1-7: #FFFFFF;

$color-fill1-6: #F4F8FF;

$color-brand1-7: #0048D9;

$color-brand1-8: #003CB3;

$color-text1-5: #878D9A;

$color-text1-6: #293D66;

$color-brand1-10: #142F66;

$color-fill1-5: #D9E1F1;

$color-fill1-7: #F0F2F5;

$color-line1-5: #FFFFFF;