$color-white: #FFFFFF;

$color-black: #000000;

$color-transparent: transparent;

$color-brand1-1: #0080FF;

$color-brand1-6: #0044FF;

$color-brand1-9: #0000FF;

$color-error-1: #FFECE4;

$color-error-2: #FFC8B2;

$color-error-3: #FF3000;

$color-error-4: #E72B00;

$color-fill1-1: #FAFAFA;

$color-fill1-2: #F8F8F8;

$color-fill1-3: #F3F3F3;

$color-fill1-4: #F4F6FA;

$color-help-1: #E3FFF8;

$color-help-2: #C0ECE2;

$color-help-3: #01C1B2;

$color-help-4: #01A79A;

$color-line1-1: #EEEEEE;

$color-line1-2: #F5F5F5;

$color-line1-3: #DDDDDD;

$color-line1-4: #CCCCCC;

$color-link-1: #666666;

$color-link-2: #666666;

$color-link-3: #0044FF;

$color-notice-1: #DFE9FD;

$color-notice-2: #FFFFFF;

$color-notice-3: #2879EB;

$color-notice-4: #206DD9;

$color-other-1: #DAEEFF;

$color-other-2: #0089FD;

$color-other-3: #306AC9;

$color-success-1: #E4FDDA;

$color-success-2: #CDF2BE;

$color-success-3: #46BC15;

$color-success-4: #41A716;

$color-text1-1: #CCCCCC;

$color-text1-2: #999999;

$color-text1-3: #333333;

$color-text1-4: #666666;

$color-warning-1: #FFF3E0;

$color-warning-2: #FFE6BD;

$color-warning-3: #FF9300;

$color-warning-4: #EB7E10;

$color-brand2-1: #00D8FF;

$color-text1-5: #FF2924;

$color-brand1-10: #FFFFFF;

$color-link-4: #0044FF;

$color-link-5: #0000FF;

$color-text1-6: #FFFFFF;

$color-fill1-5: #212121;

$color-text1-7: #0044FF;

$color-fill1-6: #F3F3F3;

$color-brand1-2: #DAEDFF;

$color-text1-8: #C8C8C8;

$color-text1-9: #1390DC;

$color-line1-5: #EBEBEB;

$color-fill1-7: #FEECE4;